@using project.Models;
@model Book;

<tr class="book-row @(Model.Checkout == null ? "book-available" : "book-unavailable")">
    <td class='title-column'>@Html.DisplayFor(modelItem => Model.Name)</td>
    <td class='author-column'>@Html.DisplayFor(modelItem => Model.Author)</td>
    <td class='year-column'>@Html.DisplayFor(modelItem => Model.Year)</td>
    <td class='status-column'>
        @if (Model.Checkout == null)
        {
            <span>Available</span>
        }
        else
        {
            <span>Checked out</span>
        }
    </td>
    <td class='actions-column'>
        @if (Model.Checkout == null)
        {
            <button class="checkout-button" data-book-id="@Model.Id">Check out</button>
        }
    </td>
</tr>
